.section-1 {
  padding-bottom: 14.28rem;
}

.section-1-features {
  display: flex;
  justify-content: space-between;

  &-item {
    max-width: 12.57rem;
    display: flex;
    align-items: center;
    gap: $standard-gap;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      width: 45px;
      height: 45px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.fire::before {
      background-image: url('./assets/img/features/feature-1/decorative/fire-\(6\)-1.svg');
    }

    &.water::before {
      background-image: url('./assets/img/features/feature-1/decorative/h2o-1.svg');

    }

    &.x-mark::before {
      background-image: url('./assets/img/features/feature-1/decorative/close-\(33\)-1.svg');
    }
  }
}

.features-img {
  width: 100%
}